.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
.header_logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.search {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
}
.search > input {
  flex: 1;
  border: none;
  height: 25px;
}
.right_header {
  display: flex;
  align-items: center;
}
.header_inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: grey;
}

.header_icon {
  margin-right: 8px;
  padding: 5px;
}
